.divForPlayerOne {
    /* ------------------Positioning--------------------- */
    position: relative;
    /* ------------------Block model--------------------- */
    float: left;
    width: 17%;
    height: 100%;
    /* ------------------Typography--------------------- */
    text-align: center;
    color: white;
    font-size: 14px; 
    font-size: 1.1vw;

}

.divForPlayerTwo {
    /* ------------------Positioning--------------------- */
    position: relative;
    /* ------------------Block model--------------------- */
    float: right;
    width: 17%;
    height: 100%;
    /* ------------------Typography--------------------- */
    text-align: center;
    color: white;
    font-size: 14px; 
    font-size: 1.1vw;
}

.player1ForGame {
    display: block;
    background-image: url('../../../../assets//images/icon1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 25%;
    margin: 5%;
}

.player2ForGame {
    display: block;
    background-image: url('../../../../assets//images/icon2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 25%;
    margin: 5%;
}

.currentPlayer {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
