@media screen and (min-width : 1224px) { /*Настольные компьютеры и ноутбуки*/
    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .dice {
        margin-top: 12%;
        /* ------------------Block model--------------------- */    
        width: 100%;
        /* ------------------Typography--------------------- */
        text-align: center;
    }

    img {
        width: 40%;
        height: 40%;
    }
}

@media screen and (min-width : 768px) and (max-width : 1224px) {  /*Смартфоны (ландшафтный)*/
    canvas {
        margin-left: 1%;
        margin-top: 10%;
        width: 680px;
        height: 340px;
    }

    .dice {
        margin-top: 40%;
        /* ------------------Block model--------------------- */    
        width: 100%;
        /* ------------------Typography--------------------- */
        text-align: center;
    }

    img {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width : 480px) and (max-width : 768px) {  /*Смартфоны (ландшафтный)*/
    canvas {
        margin-left: 1.4%;
        margin-top: 12%;
        width: 460px;
        height: 230px;
    }

    .dice {
        margin-top: 30%;
        /* ------------------Block model--------------------- */    
        width: 100%;
        /* ------------------Typography--------------------- */
        text-align: center;
    }

    img {
        width: 50%;
        height: 50%;
    }
}