.warningAllert {
    grid-column: 2;
    grid-row: 1;
    display: none;
    font-size: 1.2vw;
    text-align: center;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #0e0e0e;
    color: #fff;
    border-style: solid;
    border-color: #c1a940;
    border-radius: 20px;
    height: 100%;
    width: 35%;
    margin: auto;
    z-index: 0;
}