.divForPlayerOne {
    /* ------------------Positioning--------------------- */
    grid-column: 1/1;
    grid-row: 2/3;
    /* ------------------Block model--------------------- */
    width: 100%;
    height: 55%;
    /* ------------------Typography--------------------- */
    text-align: center;
    color: white;
    font-size: 18px; 
    font-weight: 700;    
}

.divForPlayerTwo {
    /* ------------------Positioning--------------------- */
    grid-column: 3/3;
    grid-row: 2/3;
    /* ------------------Block model--------------------- */
    width: 100%;
    height: 55%;
    /* ------------------Typography--------------------- */
    text-align: center;
    color: white;
    font-size: 18px; 
    font-weight: 700;    
}

.player1ForGame {
    grid-column: 1/1;
    grid-row: 1/1;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-style: solid;
    border-color: #c1a940;
    border-radius: 50%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player2ForGame {
    grid-column: 3/3;
    grid-row: 1/1;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-style: solid;
    border-color: #c1a940;
    border-radius: 50%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.divForLives {
    grid-row: 1/3;
    height: 15%;
    width: 75%;
    margin: auto;
    margin-top: 28%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    margin: auto;
    margin-top: 7%;
    height: 80%;
    width: 85%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-style: solid;
    border-color: #c1a940;
    border-radius: 20px;
    background-color: #010428;
    color: black;
}

.divForPlayerOne .card #nameplayer1 {
    color: #ed1818;
    text-decoration: underline;
    font-size: large;
    font-weight: bolder;
    margin-top: 10%;
}
    
.divForPlayerTwo .card #nameplayer2 {
    color: #0719e6;
    text-decoration: underline;
    font-size: large;
    font-weight: bolder;
    margin-top: 10%;
}

.divForPlayerOne .card .territoryplayer1 p, 
.divForPlayerTwo .card .territoryplayer2 p,
.divForPlayerOne .card .coinsplayer1 p,
.divForPlayerTwo .card .coinsplayer2 p {
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    margin-top: 5%;
}

.card label {
    color: #ff7e00;
    font-size: 1.3vw;
    font-weight: bolder;
    margin-top: 3%; 
}


.gamepage .click {
    grid-column: 2/3;
    grid-row: 3/3;
    margin: auto;
    width: 22%;
    height: 40%;
    text-align: center;
}

.click button {
    /* ------------------Block model--------------------- */
    height: 85%;
    width: 80%;
    /* ------------------Typography--------------------- */
    font-size: 1.2vw; 
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    /* ------------------Display--------------------- */
    background-color: #0e0e0e;
    border-color: #8b8b8b;
    border-radius: 20px;
    /* ------------------ Other --------------------- */
    outline: none;
}

.differentSettings {
    grid-column: 3/3;
    grid-row: 3/3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50%;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
}
     
.differentSettings button {
    /* ------------------Block model--------------------- */
    height: 65%;
    width: 26%;
    border : 0.5%;
    border-color: #8b8b8b;
    border-radius: 20px;
    /* ------------------ Other --------------------- */
    outline: none;
}

.differentSettings #soundOff {
    /* ------------------Display--------------------- */
    background-image: url('../../../assets/images/volume.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.differentSettings #endGame {
    /* ------------------Display--------------------- */
    background-image: url('../../../assets/images/exit.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.differentSettings #informationForGame {
    /* ------------------Typography--------------------- */
    font-size: 1.2vw; 
    font-weight: 700;
    /* text-transform: uppercase; */
    color: #c1a940;
    /* ------------------Display--------------------- */
    background-color: #0e0e0e;
    border-color: #c1a940;
    border-radius: 50%;
    /* ------------------ Other --------------------- */
}

@media only screen and (min-width: 1660px) {
    .player1ForGame {
        width: 180px;
        height: 180px;
    }
    
    .player2ForGame {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 1336px) {
    .divForLives {
        margin-top: 34%;
    }
}

@media only screen and (max-width: 1090px) {
    .divForLives {
        margin-top: 38%;
    } 

    .player1ForGame {
        width: 130px;
        height: 130px;
    }
    
    .player2ForGame {
        width: 130px;
        height: 130px;
    }

    .differentSettings {
        width: 65%;
    }
}


@media only screen and (max-width: 870px) {
    .divForLives {
        margin-top: 45%;
    } 

    .player1ForGame {
        width: 110px;
        height: 110px;
    }

    .player2ForGame {
        width: 110px;
        height: 110px;
    }

    .card label {
        font-size: 1.6vw;
    }

    .differentSettings {
        width: 70%;
        margin-top: 10px;
    }
}

