.canvas {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    margin-top: -1%;
    width: 98%;
    height: 100%;
}

.canvas canvas {
    width: 100%;
    height: 100%;
}

.dice {
    grid-column: 3/3;
    grid-row: 2/3;
    margin-top: 143%;
    /* ------------------Block model--------------------- */    
    width: 100%;
    height: 45%;
    /* ------------------Typography--------------------- */
    text-align: center;
}

img {
    width: 40%;
    height: 40%;
}


@media only screen and (max-width: 1336px) { 
    .dice {
        margin-top: 150%;
    }
}

@media only screen and (max-width: 1090px) {
    .dice {
        margin-top: 162%;
        height: 19%;
    }

    img {
        width: 40%;
        height: 85%;
    }
}


@media only screen and (max-width: 870px) {
    .dice {
        margin-top: 170%;
        height: 18%;
    }

    img {
        padding-top: 2%;
    }
}

@media only screen and (max-width: 690px) {

}