.gamepage {
    /* ------------------Positioning--------------------- */
    position: relative;
    /* ------------------Block model--------------------- */
    width:100%;
    height:100%;
    margin: 0 auto;
    /* ------------------Display--------------------- */
    background-color: #010428; 
 }

/* .gridForGamePage {
    display: grid;
    grid-template-columns: 17% auto 17%;
    grid-template-rows: minmax(100px, auto);
 } */

 .timer {
    /* grid-column: 2/3;
    grid-row: 1/3; */
    position: absolute;
    top: 4%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 28px;
}
