.player {
    margin-top: 115%;
    grid-column: 2/3;
}

.label {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    left: 16%;
}

.input {
    -webkit-appearance: none;
    width: 35%;
    height: 30px;
    border: 0;
    padding: 0;
    margin-left: 18.4%;
    font-size: 1.3vw;
    font-weight: 700;
    border-bottom: 2px solid #525252;
    background: none;
    border-radius: 0;
    color: white;
    text-align: center;
}

.input:focus { outline: none; }
