.startpage {
    /* ------------------Positioning--------------------- */
    position: relative;
    /* ------------------Block model--------------------- */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* ------------------Display--------------------- */
    background-image: url('../../../assets/images/VS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.gridForStartPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.startpage .click {
    grid-column: 2/3;
    padding-top: 6%;
    padding-bottom: 2%;
    padding-left: 35%;
    width: 35%;
    height: 60%;
    text-align: center;
}

.click .writeNames {
    /* ------------------Block model--------------------- */
    height: 66%;
    width: 84%;
    /* ------------------Typography--------------------- */
    font-size: 1.2vw; 
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    /* ------------------Display--------------------- */
    background-color: #0e0e0e;
    border-color: #8b8b8b;
    border-radius: 20px;
    /* ------------------ Other --------------------- */
    outline: none;
}

.click button:hover {
    background-color: #202125;
    color: #fff;
}


@media only screen and (max-width: 1336px) {
    .gridForStartPage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(80px, auto);
    }

    .player {
        margin-top: 130%;
    }
}

@media only screen and (max-width: 1090px) {
    .gridForStartPage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(80px, auto);
    }

    .player {
        margin-top: 135%;
    }

    .startpage .click {
        padding-left: 34%;
    }
}
